@import "styles.less";
    .brx-ribbon_slider{
        width: 100%;
        height: 100%;
        position: relative;
        .brx-ribbon_slider-ribbon{
            width: 100%;
            height: 100%;
            overflow: hidden;
            
            .brx-ribbon_slider-slider{
                position: relative;
                top: 0;
                left: 0;
                .transition(all 0.6s ease);
                .brx-ribbon_slider_item{
                    position: relative;
                }
            }
        }
    }
    .brx-ribbon_slider.vertical{
        width: 100%;
        height: 100%;
        .brx-ribbon_slider-prev{
            height: 30px;
            /*width: 100%;*/
            position: absolute;
            /*background-image: url('../img/up.png');*/
            background-position: 50%;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-top: -30px;
            opacity: 0;
            .transition(opacity 0.2s ease-in);
        }
        .brx-ribbon_slider-next{
            position: absolute;
            height: 30px;
            /*width: 100%;*/
            /*background-image: url('../img/down.png');*/
            background-position: 50%;
            background-repeat: no-repeat;
            cursor: pointer;
            opacity: 0;
            .transition(opacity 0.2s ease-in);
        }
        .brx-ribbon_slider-slider{
            width: 100%;
            .brx-ribbon_slider-item{
            }
            .brx-ribbon_slider-item:last-child{
                margin-bottom:0;
            }
        }
        ol.brx-ribbon_slider-pages{
            display: none;
        }
    }
    .brx-ribbon_slider.horizontal{
        width: 100%;
        height: 100%;
        .brx-ribbon_slider-prev{
            width: 30px;
            /*height: 100%;*/
            position: absolute;
            /*background-image: url('../img/left.png');*/
            background-position: 50%;
            background-repeat: no-repeat;
            cursor: pointer;
            /*margin-left: -30px;*/
            margin-top: 0;
            opacity: 0;
            .transition(opacity 0.2s ease-in);
        }
        .brx-ribbon_slider-next{
            position: absolute;
            width: 30px;
            /*height: 100%;*/
            /*background-image: url('../img/right.png');*/
            background-position: 50%;
            background-repeat: no-repeat;
            margin-bottom: 0;
            cursor: pointer;
            right: 0;
            opacity: 0;
            .transition(opacity 0.2s ease-in);
        }
        .brx-ribbon_slider-slider{
            width: 100%;
            .brx-ribbon_slider-item{
                float: left;
            }
            .brx-ribbon_slider-item:last-child{
                margin-right:0;
            }
        }
        ol.brx-ribbon_slider-pages{
            opacity: 0;
            clear: both;
            text-align: center;
            margin: 0;
            padding: 10px 0;
            
            li{
                display: inline-block;
                list-style: none;
                width: 10px;
                height: 10px;
                background-color: #cccccc;
                margin: 0 5px;
                .transition(all .4s ease-out 0s);
                .border-radius(10px);
                cursor: pointer;
            }
            li.active{
                background-color: #888888;
                cursor: default;
            }
        }
    }
    