/* 
    Document   : theme-standard
    Created on : Jul 17, 2013, 9:58:40 AM
    Author     : borismossounov
    Description:
        Purpose of the stylesheet follows.
*/

/************************************************
* Images 
************************************************/
img {
    border: inherit; 
    max-width: 100%; 
    height:auto;
}
.centered  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0px;
	}
	
.alignnone {
	padding: 0px;
	margin: 0px 0px 1em 0px;
	}

.alignright {
	padding: 0px;
	display: inline;
	float: right;
	margin: 0 0 1em 2ex;
	}

.alignleft {
	padding: 0px;
	display: inline;
	float: left;
	margin: 0 2ex 1em 0;
	}
	
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	}

.gallery-caption { 
    font-style: italic; 
}		
	
.wp-caption {
/*	border: 1px solid #DDDDDD;
	text-align: center;
	background-color: #EEEEEE;
	padding: 4px 0px 5px 0px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;*/
	}

.wp-caption img {
/*	margin: 0px 0px 5px 0px;
	padding: 0px;
	border: 0px;*/
	}

.wp-caption p.wp-caption-text {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	}
	
img.wp-post-image, img.attachment-thumbnail, img.attachment-medium, img.attachment-large, img.attachment-full{

}

img.wp-post-image{

}

img.attachment-thumbnail{
	padding: 0px;
	display: inline;
	float: left;
	margin: 0 15px 10px 0;

}

img.attachment-medium{

}

img.attachment-large{

}

img.attachment-full{

}
